# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual Environment
venv/
.env/
.venv/

# Django Stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp

# System Files
.DS_Store
Thumbs.db
