{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
</head>
<body>
    

<a href="" class="site-nav-container-screen menu-link">&nbsp;</a>
    <section class="site-content" role="main">
      <!--Product module start-->
     
      <section class="product-module">
        <div class="pam-items-wrap">
          <div class="pam-item">
            <a class="pam-link" href="#">
              <img class="pami-img" src="static/img/img1.png" alt="Porsche 992 GTE3" title="Porsche 992 GTE3">
              <h3 class="pami-title"><span>Porsche 992 GTE3</span></h3>
              <div class="pami-hidden-content">
                <div class="pamih-top-wrap">
                 <div>
                   <span class="pamih-title">Porsche 992 GTE3</span>
                   <span class="pamih-desc">The history of the Porsche automobile brand began in 1948 with the Type 356</span>
                   <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                 </div>
               </div>
             </div>
           </a>
         </div>
         <div class="pam-item">
           <a class="pam-link" href="#">
            <img class="pami-img" src="static/img/img1.WEBP" alt="Xpulse 200 BS6" title="Xpulse 200 BS6">
            <h3 class="pami-title"><span>Xpulse 200 BS6</span></h3>
            <div class="pami-hidden-content">
              <div class="pamih-top-wrap">
               <div>
                 <span class="pamih-title">Xpulse 200 BS6</span>
                 <span class="pamih-desc">The world is now your playground. Be it the city streets or the great outdoors, you're now ready for any terrain. Set out on a journey of exploration.</span>
                 <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
               </div>
             </div>
           </div>
         </a>
       </div>
       <div class="pam-item">
         <a class="pam-link" href="#">
          <img class="pami-img" src="static/img/img3.WEBP" alt="Passion Pro BS6" title="Passion Pro BS6">
          <h3 class="pami-title"><span>Passion Pro BS6</span></h3>
          <div class="pami-hidden-content">
            <div class="pamih-top-wrap">
             <div>
               <span class="pamih-title">Passion Pro BS6</span>
               <span class="pamih-desc">The next gen Passion Pro is here to create a new statement of Style with its revolutionary design. Now, with an advanced 113 cc Engine and xSens with Programmed Fi Technology.</span>
               <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="pam-item">
       <a class="pam-link" href="#">
        <img class="pami-img" src="static/img/img4.WEBP" alt="Splendor iSmart BS6" title="Splendor iSmart BS6">
        <h3 class="pami-title"><span>Splendor iSmart BS6</span></h3>
        <div class="pami-hidden-content">
          <div class="pamih-top-wrap">
           <div>
             <span class="pamih-title">Splendor iSmart BS6</span>
             <span class="pamih-desc">Bringing tomorrow’s technology to India, today. Hero xSens Advantage powered by Programmed FI with Advanced Sensor Technology to give you a best-in-class engine technology and riding experience. </span>
             <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
           </div>
         </div>
       </div>
     </a>
   </div>
   <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img5.WEBP" alt="Splendor+ BS6" title="Splendor+ BS6">
      <h3 class="pami-title"><span>Splendor+ BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Splendor+ BS6</span>
           <span class="pamih-desc">Splendor ka bharosa, World's Best Fi Engine Technology ke saath </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img6.WEBP" alt="Glamour BS6" title="Glamour BS6">
      <h3 class="pami-title"><span>Glamour BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Glamour BS6</span>
           <span class="pamih-desc">A smart Sensor Technology that automatically adjusts vehicle performance depending on riding conditions. </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img7.WEBP" alt="HF Deluxe BS6" title="HF Deluxe BS6">
      <h3 class="pami-title"><span>HF Deluxe BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">HF Deluxe BS6</span>
           <span class="pamih-desc">Introducing new HF Deluxe BS6 with Programmed FI Technology and advanced features. </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img3.WEBP" alt="Super Splendor BS6" title="Super Splendor BS6">
      <h3 class="pami-title"><span>Super Splendor BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Super Splendor BS6</span>
           <span class="pamih-desc">Bulandi Ki Nayi Pehchan. Ab Duniya Ki Sabse Advanced PFi Technology Ke Saath </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img2.WEBP" alt="Destini 125 BS6" title="Destini 125 BS6">
      <h3 class="pami-title"><span>Destini 125 BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Destini 125 BS6</span>
           <span class="pamih-desc">A Smart Sensor Technology
                                that automatically adjusts vehicle performance
                            depending on riding conditions.
            </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
  <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img4.WEBP" alt="Maestro Edge 125 BS6" title="Maestro Edge 125 BS6">
      <h3 class="pami-title"><span>Maestro Edge 125 BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Maestro Edge 125 BS6</span>
           <span class="pamih-desc">A Smart Sensor Technology
            that automatically adjusts vehicle performance depending on riding conditions.
             </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
  <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img5.WEBP" alt="Pleasure+ BS6" title="Pleasure+ BS6">
      <h3 class="pami-title"><span>Pleasure+ BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Pleasure+ BS6</span>
           <span class="pamih-desc">The Light & Zippy, 110cc Hero Pleasure+. </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="img/static/img/img6.WEBP" alt="Maestro Edge 110 BS6" title="Maestro Edge 110 BS6">
      <h3 class="pami-title"><span>Maestro Edge 110 BS6</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Maestro Edge 110 BS6</span>
           <span class="pamih-desc">A Smart Sensor Technology
            that automatically adjusts vehicle performance depending on riding conditions. </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
       
     </div>
   </a>
 </div>
 <div class="pam-item">
     <a class="pam-link" href="#">
      <img class="pami-img" src="static/img/img7.WEBP" alt="Xtreme 200S" title="Xtreme 200S">
      <h3 class="pami-title"><span>Xtreme 200S</span></h3>
      <div class="pami-hidden-content">
        <div class="pamih-top-wrap">
         <div>
           <span class="pamih-title">Xtreme 200S</span>
           <span class="pamih-desc">The power to command attention. To turn heads. To inspire awe. To set hearts racing. To say it all without saying a word. That's the power of presence. </span>
           <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
         </div>
       </div>
     </div>
   </a>
 </div>
</div>
      </section>
      <!--Product module end-->
</body>
</html>